h1{
    text-align: center;
    color: green;
    padding-top: 25px;

}

#input{
    width:350px;
    margin-top: 40px;
}

p{
  position: absolute;
  padding-top: 50px;
  /* border: 10px; */
  font-weight: 900;
  margin-left: 500px;
  /* text-align: center;   */
}




